<!--<p>{{goal.description}}</p>-->
<!--<p>This goal will be completed in {{goal.completeDate|dateCount}} days</p>-->
<!--<button (click)='goalDelete(true)' >Delete Goal</button>-->
<!-- <button (click)='goalComplete(true)'>Complete</button> -->
<!-- <p>{{goal.description}}</p> -->
<!--<p>This goal will be completed in {{goal.completeDate|dateCount}} days</p>-->
<p>{{goal.description}}</p>
<p>complete in {{goal.completeDate|dateCount}} days</p>
<button class="btn btn-danger" (click) = 'goalDelete(true)'> Delete Goal </button>
